StScrollBar {
       //dimensions of the icon are hardcoded
     }
 
    .panel-logo-icon {
      padding-right: .4em;
      icon-size: 1em;
    
     &:hover {
       color: lighten(white, 10%);
     }
     }
